@model List<Gamespirit.Areas.Identity.Data.GamespiritUser>
@{
    ViewData["Title"] = "Players Page";
}

<link rel="stylesheet" href="~/css/Players.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="row justify-content-center">
    <div class="col-lg-5 justify-content-center">
        <div id="titleMessageBox" class="ro">
            <div class="col-sm text-center">
                <h1 class="display-10">Players List
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="dataTableContainer">
    <table id="GamesTable" class="display table-dark table-hover text-center zui-table zui-table-rounded">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
                <th>Join Date</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td><img style="width:130px; border-radius:1000px" src="@user.ProfileImageUrl"></td>
                    <td>@user.UserName</td>
                    <td>@user.JoinDate</td>
                    <td>
                        <a type="button" class="btn btn-dark fa fa-info" asp-controller="GamespiritUsers" asp-action="GamespiritUserDetails" asp-route-id="@user.Id"></a>
                        @*<a class="btn btn-dark fa fa-pencil-square" asp-controller="GamespiritUsers" asp-action="EditUser" asp-route-id="@user.Id"></a>*@
                        <a class="btn btn-dark fa fa-trash" asp-controller="GamespiritUsers" asp-action="DeleteUser" asp-route-id="@user.Id"></a>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#GamesTable').DataTable();
    });
</script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js">